<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div class="box" id="header-note">
                <h2> Registration Numbers</h2>
                <h4 style="color:DeepSkyBlue; font-family:'Times New Roman'">Widget Using Handlebars</h4>
                <!--Regstration Number Buttons and Dropdown Menu 2-->
                <br>
                <div class="flash-red">
                    {{messages.info}}
                </div>
                <div class="flash-green">
                    {{messages.success}}
                </div>
                <br>
                <form action="/reg_numbers" method="post">
                    <input type="text" class="registrationNumTwo" name="textField" value="" maxlength="11">
                    <br>
                    <button class="button-primary addRegBtnTwo" type="submit" name="addButton">Add</button>
                </form>
                <form action="/clear" method="post" class="clearButton"><button class="button-primary clearRegBtnTwo" type="submit"
                        name="button">Clear</button></form>
                <form action="/registrationnumber" method="post">
                    <div class="row">
                        <div class="six columns">
                            <input type="radio" name="townRadio" value="All ">All Towns
                            <input type="radio" name="townRadio" value="CA ">Cape Town
                            <input type="radio" name="townRadio" value="CJ ">Paarl
                            <input type="radio" name="townRadio" value="CW ">Worcester
                            <input type="radio" name="townRadio" value="CY ">Bellville
                        </div>
                        <div class="six columns" style="margin-left:-10px;">
                            <button class="button-primary" type="submit">FILTER </button>
                        </div>
                    </div>
                </form>

                {{#each reg}}
                <div class="displayField">{{reg_numbers}}</div>
                {{/each}}

            </div>
        </div>
    </div>
</div>


</div>
</div>