<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div class="box" id="header-note">
                <h2> Registration Numbers</h2>
                <h4 style="color:DeepSkyBlue; font-family:'Times New Roman'">Widget Using Handlebars</h4>
                <!--Regstration Number Buttons and Dropdown Menu 2-->
                <br>
                <form action="/reg_numbers" method="post">
                    <input type="text" class="registrationNumTwo" name="textField" value="" maxlength="11">
                    <br>
                    <button class="button-primary addRegBtnTwo" type="submit" name="addButton">Add</button>
                </form>
                <form action="/clear" method="post" class="clearButton"><button class="button-primary clearRegBtnTwo" type="submit" name="button">Clear</button></form>
                <form action="/reg-numbers" method="post">
                    <div id="filter2">
                        <label for="Town: "></label>
                        <select class="selectWhichTownTwo" name="selectTown">
                            <option class="selectWhichTownTwo" value="All ">All Towns</option>
                            <option class="selectWhichTownTwo" value="CA ">Cape Town</option>
                            <option class="selectWhichTownTwo" value="CJ ">Paarl</option>
                            <option class="selectWhichTownTwo" value="CY ">Bellville</option>
                            <option class="selectWhichTownTwo" value="CAW ">George</option>
                        </select>
                    </div>
                </form>

                <div class="">{{#if messages.info}}{{messages.info}}{{/if}}</div>
                {{#each registrationNum}}
                <div class="displayField">{{regnumbers}}</div>
                {{/each}}

            </div>
        </div>
    </div>
</div>


</div>
</div>