<div class="container">
    <div class="row">
        <div class="twelve columns">
            <div class="box" id="header-note">
                <h2> Registration Numbers</h2>
                <h4 style="color:DeepSkyBlue; font-family:'Times New Roman'">Widget Using Handlebars</h4>
                <!--Regstration Number Buttons and Dropdown Menu 2-->
                <br>
                <form action="/reg_numbers" method="post">
                    <input type="text" class="registrationNumTwo" name="textField" value="" maxlength="11">
                    <br>
                    <button class="button-primary addRegBtnTwo" type="submit" name="addButton">Add</button>
                </form>
                <form action="/clear" method="post" class="clearButton"><button class="button-primary clearRegBtnTwo" type="submit"
                        name="button">Clear</button></form>
                <form action="/registrationnumber" method="post">
                    <div class="row">
                        <div class="two columns">
                            <select class="" name="selectTown">
                                <option name="townsFilter" value="All ">All Towns</option>
                                <option name="townsFilter" value="CA ">Cape Town</option>
                                <option name="townsFilter" value="CJ ">Paarl</option>
                                <option name="townsFilter" value="CY ">Bellville</option>
                                <option name="townsFilter" value="CAW ">George</option>
                            </select>
                        </div>
                        <div class="ten columns" style="margin-left:-10px;">
                            <button class="button-primary" type="submit">FILTER </button>
                        </div>
                    </div>
                </form>

                <div class="">{{#if messages.info}}{{messages.info}}{{/if}}</div>
                {{#each reg}}
                <div class="displayField">{{reg_numbers}}</div>
                {{/each}}

            </div>
        </div>
    </div>
</div>


</div>
</div>